main {
  position: relative;
  top: 4rem;
  font-family: Poppins, sans-serif;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.form-container {
  max-width: 90%;
  margin: 0 auto;
}

.filter-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #777777;
  font-weight: normal;
  font-size: smaller;
}

.room-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 25px;
}

.search {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 0.7%;
}

#check-in,
#check-out,
#room-type,
#suite-type,
#guests {
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  background-color: transparent;
  height: 40px;
  width: 100%;
  text-align: center;
}
.suite_type{
  display: none;
}

.booking{
  display: flex;
  align-items: center;
  gap: 50px;
}

.booking-btn{
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.gallery-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.room {
  width: 310px;
  height: 450px;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 3rem;
  padding-top: 0.4%;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.room:hover {
  box-shadow: 0px 0px 5px rgb(177, 177, 177);
}

.room img {
  width: 97%;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
}

/* ############ RROMS STYLES FOR MOBILE STARTS HERE  ################################## */
.room-default h5 {
  text-transform: capitalize;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 14px;
  color: #333333;
  text-align: center;
}

.room-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 30%;
}

.room__type {
  margin-top: 34px;
  color: #777777;
  font-weight: bold;
  font-size: 18px;
  /* margin-right: 40%; */
}

.room__price {
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  color: #333;
  padding: 0.5rem 0;
  /* margin-right: 40%; */
}

.room__price small {
  color: #999999;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.pagination-container {
  margin-bottom: 186px;
  width: 100%;
}

.pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: baseline;
}

.room h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 43px;
  text-align: center;
  color: #333333;
  padding-bottom: 20px;
}

footer {
  margin-top: 10rem;
}

.pagination-icon {
  height: 30px;
  vertical-align: -webkit-baseline-middle;
  padding-bottom: 10px;
  padding-left: 10px;
}

.pg-active {
  background: #c1a87d !important;
  color: white;
}

@media screen and (max-width: 768px) {
  .room {
    width: 284px;
    height: 450px;
    padding-top: 0.6%;
  }
}

@media screen and (min-width: 480px) {
  main {
    position: relative;
    top: 12rem;
    font-family: Poppins, sans-serif;
  }
}

@media screen and (max-width: 750px) {
  .pagination-wrapper a {
    padding: 5px;
  }

  .item {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .search {
    justify-content: start;
  }
  .pg-active {
    padding: 10px !important;
    height: 30px !important;
    width: 30px !important;
    display: inherit;
  }

  .pagination-wrapper a {
    height: 25px;
    width: 25px;
    display: inherit;
  }
}

@media screen and (max-width: 400px) {
  .search {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .room-default {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .room {
    margin-right: 0;
    padding-top: 1%;
  }
  .gallery {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 750px) {
  .pagination-wrapper a {
    height: 50px;
    width: 50px;
    display: inherit;
  }
}

/* PAGINATION STARTS HERE */

.pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: baseline;
  margin-top: 40px;
}
.pagination-link {
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    display: inline-block;
    text-align: center;
    background-color: #eee;
    color: #333;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    border: none;
    outline: none;
    cursor: pointer;
}
.pagination-link:hover {
  color: #fff !important;
  background-color: #c1a87d;
}

.pglink-active {
  color: #fff;
  background-color: #c1a87d;
}

.control {
    color: #333;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.pre, .next {
  margin: 0 7px;
}

.control[disabled]{
  cursor: not-allowed;
}

/* PAGINATION ENDS HERE */
/* ############ ROOMS STYLES FOR MOBILE ENDS HERE  ################################## */
/* ############ ALL STYLES FOR DESKTOP AND TABLETS STARTS HERE  ################################## */
@media screen and (max-width: 576px) {
  .room-container {
    margin: 150px auto 0 auto;
  }

  .sub-cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
  }

  .room-dir-control {
    max-width: 500px;
    margin: 0 auto;
  }

  .room-default select {
    width: 150px;
    border: 1px solid blue;
  }

  .search input {
    padding-top: 30px;
    width: 150px;
  }

  #check-in,
  #check-out,
  #room-number,
  #guests {
    width: 210px;
    margin: 0 43px;
  }

  p.slogan {
    font-family: Segoe UI;
    margin-top: 10px;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .search,
  .room-check-in,
  .room-check-out,
  .guest,
  .room-number {
    width: 20%;
  }
}
